*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF5E0;

}

h1{
  color: #C70039;
  text-align: left;
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  color: #C70039;
}

/* NAVBAR e Estilos para a barra de navegação */
nav{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 8vh;

  & a{
    color: #646cff;
    font-size: 1.5em;
    padding: 4px;
  }
}


nav {
  padding: 10px;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 3px;
}

.navbar{
  height: 80px;
  
}

.navbar_logotipo {
  padding: 5px;    
}


div.titulo__cabecalho{
  color: #C70039;
}


/* home */





main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 87vh;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: #FF6969;
  color: white;
  font-weight: bold;
  position: fixed;
  left: 0;
  bottom: 0;
}

